<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>
        FAIR4ML

    </title>
    <meta name="description" content="">
    <!-- Styling  -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- JavaScript  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container min-vh-100">
        <main id="main" class="my-5">
            <h1>FAIR4ML <u></u> Profile</h1>

            <h3><strong>Version:</strong> 0.0.1 (2024.06.04.)</h3>
            <h2>A convention for FAIR4ML to self-describe. </h2>
            <br />
            <p>If you spot any errors or omissions with this type, please file an issue in our <a
                    href="https://github.com/RDA-FAIR4ML/FAIR4ML-schema" target="_blank">GitHub</a>.</p>
            <div class="tab-content py-3 mb-3 border-bottom" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                    <h3>Description</h3>
                    <p>{{ description }}</p>
                    <h3>Schema.org hierarchy</h3>
                    This Profile fits into the schema.org hierarchy as follows:
                    <br />
                    <br />
                    <hr />
                    <a href="http://schema.org/Thing">Thing</a>
                    &gt;
                    <a href="http://schema.org/CreativeWork">CreativeWork</a>
                    &gt;
                    <a href="https://github.com/RDA-FAIR4ML/FAIR4ML-schema">MLModel</a>
                    <hr />
                </div>

                <div class="table-responsive shadow rounded mt-4 mb-5">
                    <table class="table table-hover table-borderless mb-0 spec-prof-table">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Expected Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for property in fair4ml_properties %}
                            <tr>
                                <td class="property-column"><a href="{{ property.property_url }}">{{ property.property }}</a></td>
                                <td>
                                    {% for type, url in property.expected_type_and_urls %}
                                        <a href="{{ url }}">{{ type }}</a><br/>
                                    {% endfor %}
                                </td>
                                <td class="description-column">{{ property.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h3>Schema.org Profiles</h3>
                <div class="table-responsive shadow rounded mt-4 mb-5">
                    <table class="table table-hover table-borderless mb-0 spec-prof-table">
                        <thead>
                            <tr>
                                <th>Profiles</th>
                                <th>Expected Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for profile in schema_profiles %}
                            <tr>
                                <td class="property-column"><a href="{{ profile.profile_url }}">{{ profile.profile }}</a></td>
                                <td class="property-column"><a href="{{ profile.profile_url }}">{{ profile.profile }}</a></td>
                                <td class="description-column">{{ profile.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h3>Schema.org Properties</h3>
                <div class="table-responsive shadow rounded mt-4 mb-5">
                    <table class="table table-hover table-borderless mb-0 spec-prof-table">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Expected Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for property in schema_properties %}
                            <tr>
                                <td class="property-column"><a href="{{ property.property_url }}">{{ property.property }}</a></td>
                                <td>
                                    {% for type, url in property.expected_type_and_urls %}
                                        <a href="{{ url }}">{{ type }}</a><br/>
                                    {% endfor %}
                                </td>
                                <td class="description-column">{{ property.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h3>Codemeta Properties</h3>
                <div class="table-responsive shadow rounded mt-4 mb-5">
                    <table class="table table-hover table-borderless mb-0 spec-prof-table">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Expected Type</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for property in codemeta_properties %}
                            <tr>
                                <td class="property-column"><a href="{{ property.property_url }}">{{ property.property }}</a></td>
                                <td>
                                    {% for type, url in property.expected_type_and_urls %}
                                        <a href="{{ url }}">{{ type }}</a><br/>
                                    {% endfor %}
                                </td>
                                <td class="description-column">{{ property.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h3>Namespaces</h3>
                <p>Below are the namespaces used in this document:</p>
                <ul>
                {% for namespace in namespaces %}
                    <li><a href="{{ namespace.url }}" target="_blank" class="external" rel="noopener">{{ namespace.prefix }}</a>: {{ namespace.description }}</li>
                {% endfor %}
                </ul>
                
                <hr/>

                <div>
                        <h3>Contributors</h3>
                        <p>The following people have been involved in the creation of this specification document.</p>

                        <h5 class="my-4">Group Leader(s)</h5>
                        {% for leader in group_leaders %}
                            <div class="col mt-2">{{ leader }}</div>
                        {% endfor %}

                        <h5 class="my-4">Other team members</h5>
                        {% for member in team_members %}
                            <div class="col mt-2">{{ member }}</div>
                        {% endfor %}
                </div>
                

            </div>
        </main>
    </div>

    <script src="/assets/js/clipboard.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</body>

</html>
